{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
  },
  "env": {
    "coreJs": "3.39",
    "mode": "usage"
  }
}
